/* ---- Global ---- */
.wrapper {
    width: 80%;
    margin: auto;
    position: relative;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

ul {
    list-style: none;
    text-align: left;
    padding: 10px 20px;
    line-height: 30px;
}

ul li {
    font-weight: 600;
}

p {
    font-size: 18px;
    color: #1C2329;
}

/* ---- Dojo Banner ---- */
.dojo__banner {
    position: relative;
}

.banner__image {
    position: relative;
}

.banner__image::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.dojo__title {
    position: absolute;
    bottom: 40px;
    color: #FFF;
}

.dojo__image {
    width: 100%;
    height: 500px;
}

/* ---- Price ---- */
.dojo__price {
    position: absolute;
    width: 100px;
    text-align: center;
    color: #FFF;
    padding: 22px 60px;
    border-radius: 40px;
    background-image: linear-gradient(90deg, #14E8D5,#597EE8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    right: 0;
    top: -130px;
}


/* ---- Description ---- */
.content__description {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dojo__description {
    width: 500px;
    padding: 50px 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid #707070;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.description__heading {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 18px;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #14E8D5,#597EE8);
}

/* ---- Contact ---- */
.dojo__contact {
    width: 300px;
    height: 250px;
    border-radius: 30px;
    text-align: center;
    padding: 50px 30px 0;
    background-image: linear-gradient(90deg, #14E8D5,#597EE8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

.contact__heading {
    color: #FFF;
    font-size: 28px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #FFF;
    margin-bottom: 20px;
}

.call__icon, .owner__number {
    display: inline-block;
    vertical-align: middle;
}

.owner__name {
    font-weight: 700;
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 16px;
}

.owner__number {
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
}


/* ---- Schedule ---- */
.schedule__range {
    margin: 40px 0 60px;
}

.schedule p {
    font-weight: 700;
}

.schedule__date {
    font-size: 30px;
    margin: 20px;
}

.schedule__time {
    color: #FFF;
    font-weight: 600;
    padding: 16px 35px;
    border-radius: 40px;
    background-image: linear-gradient(to right, #FF1E00,#FF7B00);
}


/* ---- Location ---- */
.dojo__location {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .content__description {
        flex-direction: column;
    }
}